---
import AlpineSelect from "@components/AlpineSelect.astro";
import ShowThisThat from "@components/ShowThisThat.astro";
import Toggle from "@components/Toggle.astro";

import Avatar from "@components/Avatar.astro";
import { createTags, createFM } from "@lib/xform";

import type { FrontMatter, TDate, FM_D } from "@lib/api";
const posts = await Astro.glob<FrontMatter>("../pages/read/**/*.md");

/* Tag Search */
const dataTag: TDate[] = createFM(posts);
const filterTag = ({ tag }: TDate) => tag;

/* Content Search */
const dataContent: FM_D[] = createTags(posts);
const filterContent = ({ title: a, summary: b, category: c }: FM_D) =>
  [a, b, c].join(" ");

/* Style highlight */
const style = ["font-semibold", "bg-blue-200"];

const key = "showthis";
---

<script define:vars={{ posts }}>
  window.rr = posts;
</script>

<ShowThisThat>
  <div slot="this">
    <Toggle classes={{ t: "i-lucide-arrow-up-circle", f: "i-lucide-search" }} />
    This
  </div>
  <div slot="that">
    <Toggle classes={{ t: "i-lucide-arrow-up-circle", f: "i-lucide-search" }} />
    That
  </div>
</ShowThisThat>
<br />

<AlpineSelect inp={dataTag} key={filterTag} style={style}>
  <input type="text" placeholder="Search tags" x-model="search" />
  <ul>
    <template x-for="x in f(search)">
      <li>
        <span x-html="hl(search, x.tag)"></span>
        <span x-text="x.date"></span>
      </li>
    </template>
  </ul>
</AlpineSelect>

<br />
<h1>Posts</h1>

<br />
<AlpineSelect inp={dataContent} key={filterContent} style={style}>
  <input type="text" placeholder="Search tags" x-model="search" />
  <ul>
    <template x-for="x in f(search)">
      <li>
        <span x-html="hl(search, x.title)"></span>
        <span x-html="hl(search, x.summary)"></span>
        <span x-html="hl(search, x.category)"></span>
        <span x-text="x.date"></span>
        <span x-text="x.tags"></span>
        <span x-text="x.id"></span>
      </li>
    </template>
  </ul>
</AlpineSelect>

<br />
<h1>Modal opening</h1>
<div x-data="{ open: false }">
  <button x-on:click="open = ! open">Toggle Dropdown</button>

  <div x-show="open" x-transition>Dropdown Contents...</div>
</div>
<br />
<h1>Avatar</h1>
<Avatar seed="rand" />
