---
import HTags from "@components/HTags.astro";
import HPosts from "@components/HPosts.astro";
import type { FrontMatter } from "@lib/api";
import { tagTimestampByLatest, renderOverview } from "@lib/xform";

const posts = await Astro.glob<FrontMatter>("../pages/read/**/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
const renderT = tagTimestampByLatest(posts);
const renderP = renderOverview(posts);

/* Style highlight */
const style = ["font-semibold", "bg-blue-200"];
---

<script define:vars={{ renderP }}>
  window.rr = renderP;
</script>

<HTags render={renderT} style={style} />
<br />
<h1>Posts</h1>

<div>
  {
    renderP.map((fm) => (
      <article>
        <h1>{fm.title}</h1>
        <p>{fm.summary}</p>
      </article>
    ))
  }
</div>
<br />
<HPosts render={renderP} style={style} />
