---
interface Props<T> {
  render: Render;
  fuzzy?: boolean;
  key: Fn<Render, T>;
  filter: Fn<T, string>;
  style: string[];
}

import type { Render } from "@lib/api";
import type { Fn } from "@thi.ng/api";
const { render, key, filter, style, fuzzy = false } = Astro.props;

const regExpFn = fuzzy ? "$data.regExpF" : "$data.regExp";
const filterFn = fuzzy ? "$data.filterFuzzFn" : "$data.filterFn";

const xData = `{
  search: "",
  data: ${JSON.stringify(key(render))},
  style: ${JSON.stringify(style)},
  filter: ${filter.toString()}
}`;

const xMethods = `{
  hl: $data.createHighlight(${regExpFn},$data.style),
  f: ${filterFn}($data.data, $data.filter)
}`;
---

<script>
  import * as init from "@lib/filter";
  document.addEventListener("alpine:init", () => {
    Alpine.data("AlpineSelect", () => ({ ...init }));
  });
</script>

<style>
  div {
    display: contents;
  }
</style>

<div x-data="AlpineSelect">
  <div x-data={xData}>
    <div x-data={xMethods}>
      <slot />
    </div>
  </div>
</div>
