---
interface Props<T> {
  inp: T[];
  key: Fn<T, string>;
  style: string[];
}
import type { Fn } from "@thi.ng/api";
const { inp, key, style } = Astro.props;

const xData = `{
  search: "",
  inp: ${JSON.stringify(inp)},
  style: ${JSON.stringify(style)},
  key: ${key.toString()}
}`;
const xMethods = `{
  hl: $data.hl($data.style),
  f: $data.f($data.inp, $data.key)
}`;
---

<script>
  import { createFilter, highlightSearch } from "@lib/client";

  // Alpine Init
  const methodContext = () => ({
    f: createFilter,
    hl: highlightSearch,
  });

  document.addEventListener("alpine:init", () => {
    Alpine.data("AlpineSelect", methodContext);
  });
</script>

<style>
  div {
    display: contents;
  }
</style>

<div x-data="AlpineSelect">
  <div x-data={xData} x-data={xMethods}>
    <div x-data={xMethods}>
      <slot />
    </div>
  </div>
</div>
