---
interface Props {
  render: Render;
}
import type { Render } from "@lib/api";
const { render } = Astro.props;
import "@layouts/compositions/stack.css";

const key = "open";
const xData = JSON.stringify({ [key]: false });
---

<style>
  .stack {
    /* compositions/stack.css */
    --stack--spacing: auto;

    position: sticky;
    top: var(--top-placement);
  }
  .stack::before {
    content: "";
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='25'><defs><pattern id='bg1' patternUnits='userSpaceOnUse' width='40' height='25'><text y='.9em' font-size='20'>🚀</text></pattern></defs><rect width='100%' height='100%' fill='url(%23bg1)' /></svg>");
    position: absolute;
    width: 100%;
    height: calc(var(--top-placement) + var(--rocket-overlap));
    top: calc((var(--top-placement) + var(--rocket-overlap)) * -1);
  }

  header {
    display: inline-flex;
    align-items: center;
  }
  .tool {
    margin-left: auto;
  }
</style>

<div x-data={xData} class="stack || bg-blue">
  <header>
    <div class="|| bg-blue">{render.active || "Ja0nz"}</div>
    <div x-cloak class="tool">
      <button
        x-on:click={`${key} = ! ${key}`}
        x-bind:class={`${key} ? 'i-lucide-arrow-up-circle' : 'i-lucide-search'`}
      ></button>
      <button
        x-on:click={`colorScheme = colorScheme === 'dark' ? 'light' : 'dark'`}
        class="i-lucide-sun dark:i-lucide-moon dark:text-white"></button>
    </div>
  </header>
  <div class="show" x-show={key} x-transition>
    <input
      slot="subhead"
      type="text"
      placeholder="Search content"
      x-model="search"
      x-cloak
    />
  </div>
</div>
