---
interface Props {
  tag?: string;
}
import type { Render } from "@lib/api";
import { CollectionEntry, getCollection } from "astro:content";

// use to highlight current active
const active = Astro.params?.tag || "";

/* Layouts */
import Layout from "@layouts/Layout.astro";
import Sidebar from "@layouts/Sidebar.astro";
import FrontSide from "@layouts/FrontSide.astro";
import Main from "@layouts/Main.astro";
import SkipLink from "@layouts/SkipLink.astro";
import About from "@layouts/About.astro";
import MainArea from "@layouts/MainArea.astro";

import "@layouts/compositions/sidebar.css";
import "@layouts/utilities/center.css";

/* Components */
import FlipSide from "@components/FlipSide.astro";
import ContentHeader from "@components/ContentHeader.astro";
import MenuHeader from "@components/MenuHeader.astro";

/* Lib */
import { createTags, sortCollection } from "@lib/xform";

/* Input */
const longs = await getCollection(
  "long",
  ({ data }: CollectionEntry<"long">) => !data.draft
);
const shorts = await getCollection(
  "short",
  ({ data }: CollectionEntry<"short">) => !data.draft
);
const posts = [...shorts, ...longs];

const render: Render = {
  active,
  tags: createTags(posts),
  collection: sortCollection(posts, active),
};

/* Toggle Sidebar */
const tsKey = "tssidebar";
const tsxOn = `${tsKey} = ! ${tsKey}`;
---

<style>
  .this {
    /* utilities/center.css */
    --center--measure: clamp(16rem, 95vw, 91rem);
    /* compositions/sidebar.css */
    --sidebar--gap: var(--step--2);
    --sidebar--bar-width: clamp(18.38rem, calc(16.77rem + 8.05vw), 22.5rem);
    --sidebar--content-min-width: 65%;

    /* MainMenu + ContentHeader*/
    /* Static */
    --rocket-overlap: 24px;
    --top-placement: 36px;
    /* Dynamic */
    --robot-height: calc(2 * var(--step-4));
  }
</style>

<Layout title="ja|nz's logbook">
  <div class="this | center | with-sidebar">
    <Sidebar>
      <SkipLink />
      <FlipSide key={tsKey}>
        <FrontSide slot="front" render={render}>
          <MenuHeader toggle={tsxOn} />
        </FrontSide>
        <About toggle={tsxOn} slot="back" />
      </FlipSide>
    </Sidebar>
    <MainArea>
      <ContentHeader render={render} />
      <Main render={render} />
    </MainArea>
  </div>
</Layout>
