---
interface Props {
  key: string;
  classes: { t: string; f: string };
}
const { key, classes } = Astro.props;
---

<button
  x-on:click={`${key} = ! ${key}`}
  x-bind:class={`${key} ? '${classes.t}' : '${classes.f}'`}></button>
