---
interface Props {
  render: Render;
  requires?: AstroComponentFactory[];
}
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import type { Render } from "@lib/api";
const { frontmatter } = Astro.props.render;
import "@layouts/blocks/box.css";
import "@layouts/utilities/center.css";
import "@layouts/compositions/cluster.css";
import "@layouts/compositions/repel.css";
---

<style>
  /* Ensure some breathing before tabbing in #main */
  :target {
    scroll-margin-top: calc((var(--top-placement) + var(--robot-height)));
  }
  /* Remove main focus */
  #main:focus {
    outline: 0;
  }

  main {
    /* compositions/center.css */
    --center--measure: clamp(16rem, 95vw, 91rem);
    /* blocks/box.css */
    --box--padding: var(--step-0);

    padding-top: 0 !important;
  }

  /* Bubble */
  li {
    width: 70%;
    border-radius: 10px;
  }
  li:focus-visible {
    outline: 4px dashed var(--color-secondary);
  }

  li:nth-child(odd) {
    --box--background: var(--bg-bubble-odd);
  }

  li:nth-child(even) {
    --box--background: var(--bg-bubble-even);
    margin-left: auto;
  }
</style>

<main class="this | box">
  <div class="center">
    <ul id="main" class="stack" tabindex="-1">
      <template x-for="(x, idx) in f(search)">
        <li
          tabindex="0"
          x-on:keyup.enter="navigation.navigate(`/read/${x.category}/${x.id}`)"
          class="box"
        >
          <div class="repel">
            <a x-bind:href="`/read/${x.category}/${x.id}`">
              <h3 x-html="hl(search, x.title)"></h3>
            </a>
            <div x-bind:class="x.category === 'long' ? 'i-lucide-star': ''">
            </div>
          </div>
          <p x-html="hl(search, x.summary)"></p>
          <div class="cluster">
            <span x-text="new Date(x.date).toLocaleDateString()"></span>
            <span x-text="x.tags"></span>
            <span x-text="x.id"></span>
          </div>
        </li>
      </template>
      {
        frontmatter.map((item) => (
          <li x-show="0" tabindex="0" class="box">
            <h1 class="text-2">{item.title}</h1>
            <p>{item.summary}</p>
            <span>{item.category}</span>
            <span>{item.date}</span>
            <span>{item.tags}</span>
            <span>{item.id}</span>
          </li>
        ))
      }
    </ul>
  </div>
</main>
